name: Cargo Check Build Test

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  check_build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cargo check
      - run: cargo build -F postgres -F serde
      - run: cargo test -F postgres -F serde --no-default-features
